@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  background-color: #445c3e;
  color: white;
  font-family: "Lobster Two", sans-serif;
}
